<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="~{fragments/navBar :: navbar}"></div>
<div id="layoutSidenav">
    <div th:replace="fragments/sideBar_1 :: sideBar_1"></div>



    <div id="layoutSidenav_content">
        <main>



            <div class="container-fluid px-4">
                <h1 class="mt-4">Productos</h1>


                <button th:if="${producto.id == null}" type="button" class="btn btn-primary" onclick="abrirFormulario()">Agregar Producto</button>
                <button th:unless="${producto.id == null}"  type="button" class="btn btn-primary" onclick="window.location.href='/productos?abrirFormulario=true';">Agregar Producto</button>
                <button  th:if="${producto.id == null}" type="button" class="btn btn-primary" onclick="abrirFormulario()" disabled>Editar Producto</button>
                <button  th:unless="${producto.id == null}"  type="button" class="btn btn-primary" onclick="abrirFormulario()">Editar Producto</button>





                <!-- Formulario emergente (oculto inicialmente) -->
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>



                <div id="formularioProducto" style="display: none; margin-top: 20px;">
                    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
                        <div class="form-group">
                            <input type="hidden" th:field="*{id}">
                            <label for="codigoProducto">Código Producto</label>
                            <input type="text" id="codigoProducto" th:field="*{codigo}" class="form-control" placeholder="Ingrese el código del producto (opcional)">

                            <label for="nombreProducto">Nombre Producto</label>
                            <input type="text" id="nombreProducto" th:field="*{nombre}" class="form-control" placeholder="Ingrese el nombre del producto" required>

                            <label for="precioCompra">Precio Compra</label>
                            <input type="number" id="precioCompra" th:field="*{precioCompra}" class="form-control" placeholder="Ingrese el precio de compra" step="0.01" required>

                            <label for="precioVenta">Precio Venta (sugerido: 30% más)</label>
                            <input type="number" id="precioVenta" th:field="*{precioVenta}" class="form-control" placeholder="Modifique el precio si es necesario" step="0.01">

                            <label for="cantidad">Cantidad</label>
                            <input type="number" id="cantidad" th:field="*{cantidad}" class="form-control" placeholder="Ingrese la cantidad disponible" required>

                            <label for="imagen">URL Imagen</label>
                            <input type="text" id="imagen" th:field="*{imagen}" class="form-control" placeholder="Ingrese la URL de la imagen (opcional)">

                            <label for="descripcion">Descripción</label>
                            <textarea id="descripcion" th:field="*{descripcion}" class="form-control" rows="3" placeholder="Ingrese una breve descripción del producto"></textarea>

                            <label for="categoria">Categoría</label>
                            <select th:field="*{categoria.id}" id="categoria" class="form-control" required>
                                <option th:each="categoria : ${categorias}"
                                        th:value="${categoria.id}"
                                        th:text="${categoria.nombre}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar Producto</button>
                        <button type="button" class="btn btn-secondary" onclick="cerrarFormulario()">Cancelar</button>
                    </form>
                </div>


                <!-- Formulario emergente (oculto inicialmente) -->


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista de productos
                    </div>
                    <!--<div th:if="${error}" class="alert alert-danger" role="alert">
                        <p th:text="${error}"></p>
                    </div>-->

                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Precio Compra</th>
                                <th>Precio Venta</th>
                                <th>Stock</th>

                                <th>Descripción</th>
                                <th>Categoría</th>
                                <th>Imagen</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Precio Compra</th>
                                <th>Precio Venta</th>
                                <th>Stock</th>

                                <th>Descripción</th>
                                <th>Categoría</th>
                                <th>Imagen</th>
                                <th>Acciones</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="producto : ${productos}">
                                <td th:text="${producto.codigo}"></td>
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.precioCompra}"></td>
                                <td th:text="${producto.precioVenta}"></td>
                                <td th:text="${producto.stock}"></td>

                                <td th:text="${producto.descripcion}"></td>
                                <td th:text="${producto.categoria.nombre}"></td>
                                <td>
                                    <img th:src="${producto.imagen}" alt="Imagen del producto" style="max-width: 100px; max-height: 100px;">
                                </td>

                                <td>
                                    <a th:href="@{'/productos/' + ${producto.id}}" class="btn btn-primary btn-sm" title="Ver detalles">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <a th:href="@{'/productos/editar'+'/'+ ${producto.id}}" class="btn btn-warning btn-sm" title="Editar">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    <form th:action="@{'/productos/eliminar/' + ${producto.id}}" method="post" class="d-inline-block" title="Borrar">
                                        <input type="hidden" name="_method" value="DELETE" />  <!-- Simula DELETE -->
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>

                                </td>

                                <!--                                <td>-->
<!--                                    <button class="btn btn-primary btn-sm" title="Ver detalles">-->
<!--                                        <i class="bi bi-eye"></i>-->
<!--                                    </button>-->
<!--                                    <button class="btn btn-warning btn-sm" title="Editar">-->
<!--                                        <i class="bi bi-pencil"></i>-->
<!--                                    </button>-->
<!--                                    <button class="btn btn-danger btn-sm" title="Borrar">-->
<!--                                        <i class="bi bi-trash"></i>-->
<!--                                    </button>-->
<!--                                </td>-->

                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <script>


                function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    // Detectar el parámetro `abrirFormulario` y ejecutar la función
    document.addEventListener("DOMContentLoaded", function () {
        if (getQueryParam('abrirFormulario') === 'true') {
            abrirFormulario();
        }
    });


                document.addEventListener("DOMContentLoaded", function() {
                    const productoId = [[${producto.id != null ? producto.id : 'null'}]];
                    if (productoId !== null) {
                        abrirFormulario(); // Llamar automáticamente cuando producto.id tiene un valor
                    }
                });

                function abrirFormulario() {
                    document.getElementById('formularioProducto').style.display = 'block';
                }

                function cerrarFormulario() {
                    document.getElementById('formularioProducto').style.display = 'none';
                }
            </script>



            <!--                    precio sugerido-->
            <script>

                document.addEventListener("DOMContentLoaded", function () {
                    const precioCompraInput = document.getElementById("precioCompra");
                    const precioVentaInput = document.getElementById("precioVenta");

                    precioCompraInput.addEventListener("input", function () {
                        const precioCompra = parseFloat(precioCompraInput.value);
                        if (!isNaN(precioCompra)) {
                            // Calcula el precio de venta como un 30% más
                            const precioVenta = precioCompra * 1.30;
                            precioVentaInput.value = precioVenta.toFixed(2); // Formatea a 2 decimales
                        } else {
                            precioVentaInput.value = ""; // Limpia el campo si el valor es inválido
                        }
                    });
                });
            </script>
            <!--                    precio sugerido&ndash;&gt;-->
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Web</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="/js/datatables-simple-demo.js"></script>




</body>
</html>
